@import url(https://themes.googleusercontent.com/fonts/css?kit=dpiI8CyVsrzWsJLBFKehGpLhv3qFjX7dUn1mYxfCXhI);

.lst-kix_3i1dzd8wzih-0 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-0
}

ol.lst-kix_mte0i627l92-1.start {
    counter-reset: lst-ctn-kix_mte0i627l92-1 0
}

ol.lst-kix_n40wcnkh6pfj-7.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-7 0
}

.lst-kix_n40wcnkh6pfj-8 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-8
}

.lst-kix_lvet4pilwdfb-7 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-7
}

ol.lst-kix_lvet4pilwdfb-6.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-6 0
}

.lst-kix_3i1dzd8wzih-7 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-7, lower-latin) ". "
}

.lst-kix_3i1dzd8wzih-8 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-8, lower-roman) ". "
}

.lst-kix_3i1dzd8wzih-2 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-2, lower-roman) ". "
}

.lst-kix_3i1dzd8wzih-1 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-1, lower-latin) ". "
}

.lst-kix_3i1dzd8wzih-3 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-3, decimal) ". "
}

ol.lst-kix_vkjvdupslzx4-3.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-3 0
}

.lst-kix_c7c1jupxhh7o-0 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-0
}

ol.lst-kix_mte0i627l92-7.start {
    counter-reset: lst-ctn-kix_mte0i627l92-7 0
}

.lst-kix_n40wcnkh6pfj-6 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-6
}

.lst-kix_3i1dzd8wzih-6 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-6, decimal) ". "
}

.lst-kix_3i1dzd8wzih-5 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-5, lower-roman) ". "
}

.lst-kix_3i1dzd8wzih-4 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-4, lower-latin) ". "
}

ol.lst-kix_3i1dzd8wzih-6.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-6 0
}

ol.lst-kix_c7c1jupxhh7o-0.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-0 0
}

.lst-kix_mte0i627l92-8 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-8
}

.lst-kix_3i1dzd8wzih-2 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-2
}

ol.lst-kix_3i1dzd8wzih-0.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-0 0
}

ol.lst-kix_c7c1jupxhh7o-6.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-6 0
}

.lst-kix_3i1dzd8wzih-0 > li:before {
    content: "" counter(lst-ctn-kix_3i1dzd8wzih-0, decimal) ". "
}

.lst-kix_c7c1jupxhh7o-3 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-3, decimal) ". "
}

ol.lst-kix_c7c1jupxhh7o-1.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-1 0
}

.lst-kix_c7c1jupxhh7o-2 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-2, lower-roman) ". "
}

.lst-kix_c7c1jupxhh7o-0 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-0, decimal) ". "
}

.lst-kix_c7c1jupxhh7o-1 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-1, lower-latin) ". "
}

ol.lst-kix_mte0i627l92-6.start {
    counter-reset: lst-ctn-kix_mte0i627l92-6 0
}

ol.lst-kix_mte0i627l92-0.start {
    counter-reset: lst-ctn-kix_mte0i627l92-0 0
}

.lst-kix_mte0i627l92-4 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-4
}

ol.lst-kix_c7c1jupxhh7o-7.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-7 0
}

.lst-kix_lvet4pilwdfb-5 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-5
}

ol.lst-kix_n40wcnkh6pfj-6 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-7 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-4 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-5 {
    list-style-type: none
}

.lst-kix_vkjvdupslzx4-7 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-7
}

ol.lst-kix_n40wcnkh6pfj-8 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-5.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-5 0
}

.lst-kix_c7c1jupxhh7o-2 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-2
}

ol.lst-kix_n40wcnkh6pfj-2 {
    list-style-type: none
}

.lst-kix_n40wcnkh6pfj-2 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-2
}

ol.lst-kix_n40wcnkh6pfj-3 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-0 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-1 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-8 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-4.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-4 0
}

ol.lst-kix_3i1dzd8wzih-7.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-7 0
}

.lst-kix_3i1dzd8wzih-6 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-6
}

ol.lst-kix_mte0i627l92-8.start {
    counter-reset: lst-ctn-kix_mte0i627l92-8 0
}

.lst-kix_3i1dzd8wzih-7 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-7
}

.lst-kix_n40wcnkh6pfj-3 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-3
}

.lst-kix_mte0i627l92-2 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-2
}

ol.lst-kix_n40wcnkh6pfj-6.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-6 0
}

.lst-kix_3i1dzd8wzih-8 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-8
}

.lst-kix_lvet4pilwdfb-3 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-3
}

.lst-kix_vkjvdupslzx4-5 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-5
}

ol.lst-kix_lvet4pilwdfb-2.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-2 0
}

.lst-kix_c7c1jupxhh7o-5 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-5, lower-roman) ". "
}

ol.lst-kix_lvet4pilwdfb-1.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-1 0
}

ol.lst-kix_vkjvdupslzx4-2.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-2 0
}

.lst-kix_c7c1jupxhh7o-4 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-4
}

.lst-kix_mte0i627l92-3 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-3
}

.lst-kix_c7c1jupxhh7o-7 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-7, lower-latin) ". "
}

.lst-kix_lvet4pilwdfb-4 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-4
}

.lst-kix_vkjvdupslzx4-6 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-6
}

ol.lst-kix_lvet4pilwdfb-3 {
    list-style-type: none
}

.lst-kix_n40wcnkh6pfj-4 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-4
}

ol.lst-kix_lvet4pilwdfb-2 {
    list-style-type: none
}

ol.lst-kix_lvet4pilwdfb-5 {
    list-style-type: none
}

ol.lst-kix_lvet4pilwdfb-4 {
    list-style-type: none
}

.lst-kix_vkjvdupslzx4-0 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-0
}

ol.lst-kix_lvet4pilwdfb-1 {
    list-style-type: none
}

ol.lst-kix_lvet4pilwdfb-0 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-8.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-8 0
}

.lst-kix_n40wcnkh6pfj-1 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-1, lower-latin) ". "
}

.lst-kix_3i1dzd8wzih-1 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-1
}

.lst-kix_lvet4pilwdfb-4 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-4, lower-latin) ". "
}

.lst-kix_lvet4pilwdfb-8 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-8, lower-roman) ". "
}

.lst-kix_n40wcnkh6pfj-3 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-3, decimal) ". "
}

ol.lst-kix_vkjvdupslzx4-1.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-1 0
}

ol.lst-kix_lvet4pilwdfb-0.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-0 0
}

.lst-kix_lvet4pilwdfb-6 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-6, decimal) ". "
}

ol.lst-kix_3i1dzd8wzih-2 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-3 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-0 {
    list-style-type: none
}

.lst-kix_n40wcnkh6pfj-7 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-7, lower-latin) ". "
}

ol.lst-kix_3i1dzd8wzih-1 {
    list-style-type: none
}

.lst-kix_lvet4pilwdfb-0 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-0, decimal) ". "
}

ol.lst-kix_3i1dzd8wzih-8 {
    list-style-type: none
}

.lst-kix_n40wcnkh6pfj-5 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-5, lower-roman) ". "
}

ol.lst-kix_n40wcnkh6pfj-8.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-8 0
}

ol.lst-kix_3i1dzd8wzih-6 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-7 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-4 {
    list-style-type: none
}

ol.lst-kix_3i1dzd8wzih-5 {
    list-style-type: none
}

.lst-kix_lvet4pilwdfb-2 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-2, lower-roman) ". "
}

.lst-kix_vkjvdupslzx4-3 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-3, decimal) ". "
}

ol.lst-kix_c7c1jupxhh7o-8 {
    list-style-type: none
}

ol.lst-kix_c7c1jupxhh7o-6 {
    list-style-type: none
}

.lst-kix_mte0i627l92-8 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-8, lower-roman) ". "
}

ol.lst-kix_c7c1jupxhh7o-7 {
    list-style-type: none
}

ol.lst-kix_c7c1jupxhh7o-4 {
    list-style-type: none
}

ol.lst-kix_lvet4pilwdfb-3.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-3 0
}

ol.lst-kix_c7c1jupxhh7o-5 {
    list-style-type: none
}

.lst-kix_n40wcnkh6pfj-7 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-7
}

.lst-kix_vkjvdupslzx4-0 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-0, decimal) ". "
}

.lst-kix_vkjvdupslzx4-4 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-4, lower-latin) ". "
}

ol.lst-kix_c7c1jupxhh7o-2 {
    list-style-type: none
}

ol.lst-kix_c7c1jupxhh7o-3 {
    list-style-type: none
}

.lst-kix_vkjvdupslzx4-7 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-7, lower-latin) ". "
}

ol.lst-kix_c7c1jupxhh7o-0 {
    list-style-type: none
}

.lst-kix_c7c1jupxhh7o-1 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-1
}

ol.lst-kix_c7c1jupxhh7o-1 {
    list-style-type: none
}

.lst-kix_mte0i627l92-4 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-4, lower-latin) ". "
}

.lst-kix_vkjvdupslzx4-5 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-5, lower-roman) ". "
}

.lst-kix_mte0i627l92-3 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-3, decimal) ". "
}

.lst-kix_vkjvdupslzx4-6 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-6, decimal) ". "
}

.lst-kix_mte0i627l92-7 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-7
}

.lst-kix_mte0i627l92-5 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-5, lower-roman) ". "
}

.lst-kix_mte0i627l92-6 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-6, decimal) ". "
}

.lst-kix_vkjvdupslzx4-1 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-1, lower-latin) ". "
}

.lst-kix_mte0i627l92-7 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-7, lower-latin) ". "
}

.lst-kix_vkjvdupslzx4-2 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-2, lower-roman) ". "
}

ol.lst-kix_n40wcnkh6pfj-4.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-4 0
}

.lst-kix_mte0i627l92-5 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-5
}

ol.lst-kix_lvet4pilwdfb-7 {
    list-style-type: none
}

.lst-kix_c7c1jupxhh7o-3 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-3
}

ol.lst-kix_lvet4pilwdfb-6 {
    list-style-type: none
}

ol.lst-kix_lvet4pilwdfb-8 {
    list-style-type: none
}

.lst-kix_mte0i627l92-1 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-1, lower-latin) ". "
}

ol.lst-kix_mte0i627l92-4.start {
    counter-reset: lst-ctn-kix_mte0i627l92-4 0
}

.lst-kix_mte0i627l92-0 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-0, decimal) ". "
}

.lst-kix_mte0i627l92-2 > li:before {
    content: "" counter(lst-ctn-kix_mte0i627l92-2, lower-roman) ". "
}

ol.lst-kix_vkjvdupslzx4-0.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-0 0
}

.lst-kix_vkjvdupslzx4-8 > li:before {
    content: "" counter(lst-ctn-kix_vkjvdupslzx4-8, lower-roman) ". "
}

ol.lst-kix_c7c1jupxhh7o-3.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-3 0
}

ol.lst-kix_3i1dzd8wzih-3.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-3 0
}

.lst-kix_lvet4pilwdfb-6 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-6
}

.lst-kix_vkjvdupslzx4-8 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-8
}

ol.lst-kix_c7c1jupxhh7o-8.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-8 0
}

ol.lst-kix_mte0i627l92-0 {
    list-style-type: none
}

ol.lst-kix_n40wcnkh6pfj-5.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-5 0
}

ol.lst-kix_mte0i627l92-1 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-6.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-6 0
}

.lst-kix_3i1dzd8wzih-3 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-3
}

ol.lst-kix_mte0i627l92-2 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-3 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-4 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-5 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-6 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-7 {
    list-style-type: none
}

ol.lst-kix_mte0i627l92-8 {
    list-style-type: none
}

.lst-kix_vkjvdupslzx4-1 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-1
}

.lst-kix_lvet4pilwdfb-8 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-8
}

ol.lst-kix_lvet4pilwdfb-4.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-4 0
}

ol.lst-kix_vkjvdupslzx4-5.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-5 0
}

.lst-kix_vkjvdupslzx4-4 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-4
}

.lst-kix_lvet4pilwdfb-2 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-2
}

.lst-kix_n40wcnkh6pfj-5 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-5
}

.lst-kix_c7c1jupxhh7o-5 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-5
}

.lst-kix_c7c1jupxhh7o-8 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-8
}

ol.lst-kix_n40wcnkh6pfj-0.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-0 0
}

.lst-kix_c7c1jupxhh7o-7 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-7
}

.lst-kix_vkjvdupslzx4-2 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-2
}

ol.lst-kix_vkjvdupslzx4-7 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-6 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-5 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-4 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-3 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-2 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-1 {
    list-style-type: none
}

ol.lst-kix_vkjvdupslzx4-0 {
    list-style-type: none
}

.lst-kix_mte0i627l92-0 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-0
}

.lst-kix_vkjvdupslzx4-3 > li {
    counter-increment: lst-ctn-kix_vkjvdupslzx4-3
}

.lst-kix_lvet4pilwdfb-1 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-1
}

ol.lst-kix_vkjvdupslzx4-7.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-7 0
}

.lst-kix_n40wcnkh6pfj-1 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-1
}

ol.lst-kix_mte0i627l92-5.start {
    counter-reset: lst-ctn-kix_mte0i627l92-5 0
}

ol.lst-kix_3i1dzd8wzih-4.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-4 0
}

.lst-kix_mte0i627l92-1 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-1
}

ol.lst-kix_c7c1jupxhh7o-2.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-2 0
}

.lst-kix_n40wcnkh6pfj-0 > li {
    counter-increment: lst-ctn-kix_n40wcnkh6pfj-0
}

.lst-kix_c7c1jupxhh7o-6 > li {
    counter-increment: lst-ctn-kix_c7c1jupxhh7o-6
}

ol.lst-kix_lvet4pilwdfb-5.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-5 0
}

ol.lst-kix_n40wcnkh6pfj-3.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-3 0
}

.lst-kix_3i1dzd8wzih-5 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-5
}

.lst-kix_lvet4pilwdfb-0 > li {
    counter-increment: lst-ctn-kix_lvet4pilwdfb-0
}

ol.lst-kix_3i1dzd8wzih-2.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-2 0
}

.lst-kix_c7c1jupxhh7o-4 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-4, lower-latin) ". "
}

ol.lst-kix_lvet4pilwdfb-8.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-8 0
}

.lst-kix_c7c1jupxhh7o-6 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-6, decimal) ". "
}

.lst-kix_c7c1jupxhh7o-8 > li:before {
    content: "" counter(lst-ctn-kix_c7c1jupxhh7o-8, lower-roman) ". "
}

ol.lst-kix_n40wcnkh6pfj-2.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-2 0
}

ol.lst-kix_c7c1jupxhh7o-4.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-4 0
}

ol.lst-kix_mte0i627l92-3.start {
    counter-reset: lst-ctn-kix_mte0i627l92-3 0
}

.lst-kix_lvet4pilwdfb-5 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-5, lower-roman) ". "
}

.lst-kix_lvet4pilwdfb-7 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-7, lower-latin) ". "
}

.lst-kix_3i1dzd8wzih-4 > li {
    counter-increment: lst-ctn-kix_3i1dzd8wzih-4
}

.lst-kix_n40wcnkh6pfj-0 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-0, decimal) ". "
}

ol.lst-kix_n40wcnkh6pfj-1.start {
    counter-reset: lst-ctn-kix_n40wcnkh6pfj-1 0
}

ol.lst-kix_c7c1jupxhh7o-5.start {
    counter-reset: lst-ctn-kix_c7c1jupxhh7o-5 0
}

ol.lst-kix_3i1dzd8wzih-1.start {
    counter-reset: lst-ctn-kix_3i1dzd8wzih-1 0
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_n40wcnkh6pfj-2 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-2, lower-roman) ". "
}

ol.lst-kix_mte0i627l92-2.start {
    counter-reset: lst-ctn-kix_mte0i627l92-2 0
}

.lst-kix_mte0i627l92-6 > li {
    counter-increment: lst-ctn-kix_mte0i627l92-6
}

.lst-kix_n40wcnkh6pfj-4 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-4, lower-latin) ". "
}

.lst-kix_n40wcnkh6pfj-8 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-8, lower-roman) ". "
}

ol.lst-kix_lvet4pilwdfb-7.start {
    counter-reset: lst-ctn-kix_lvet4pilwdfb-7 0
}

ol.lst-kix_vkjvdupslzx4-8.start {
    counter-reset: lst-ctn-kix_vkjvdupslzx4-8 0
}

.lst-kix_lvet4pilwdfb-1 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-1, lower-latin) ". "
}

.lst-kix_lvet4pilwdfb-3 > li:before {
    content: "" counter(lst-ctn-kix_lvet4pilwdfb-3, decimal) ". "
}

.lst-kix_n40wcnkh6pfj-6 > li:before {
    content: "" counter(lst-ctn-kix_n40wcnkh6pfj-6, decimal) ". "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c13 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c2 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Roboto";
    font-style: normal
}

.c15 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Roboto";
    font-style: normal
}

.c1 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Roboto";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c10 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    color: #6aa84f;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c17 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal
}

.c14 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    font-size: 12pt;
    font-family: "Roboto";
    color: #ff0000;
    font-weight: 700
}

.c7 {
    font-size: 12pt;
    font-family: "Roboto";
    font-weight: 400
}

.c16 {
    background-color: #ffffff;
    /*max-width: 468pt;*/
    padding: 72pt 72pt 72pt 72pt
}

.c9 {
    padding: 0;
    margin: 0
}

.c11 {
    margin-left: 36pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
