@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.brand-name {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ff00ff, #006fff, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 20px rgba(255, 0, 255, 0.6);
    animation: pulse 2s infinite alternate ease-in-out;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        text-shadow: 0px 0px 20px rgba(255, 0, 255, 0.6);
    }
    100% {
        text-shadow: 0px 0px 35px rgba(255, 0, 255, 1);
    }
}

h2 {
    text-align: center;
    color: darkblue;
    margin: 0;
}

.main-container {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: calc(100vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/data-pipe.webp');
    background-size: 100% 100%; /* Make the background cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the background image */
}

.embedded-similarity-challenge-container {
    margin: 0;
    padding: 0;
    width: 90vw;
    width: 90dvw;
    height: auto;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.captcha-container {
    min-width: 350px;
    width: 500px;
    max-width: 90vw;
    max-width: 90dvw;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*transform: scale(0.9);
    transform-origin: top left;*/
}

.captcha-container-600 {
    min-width: 350px;
    width: 600px;
    max-width: 90vw;
    max-width: 90dvw;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*transform: scale(0.9);
    transform-origin: top left;*/
}

.captcha-box {
    width: 100%;
    background-color: lightcyan;
    margin: 0;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.similarity-captcha-box {
    width: 100%;
    background-color: lightcyan;
    margin: 0;
    padding: 0 0 0 3px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0 none;
}

.captcha-section-container {
    width: 360px;
    min-width: 100px;
    max-width: 90vw;
    max-width: 90dvw;
    height: 120px;
    max-height: 80vh;
    max-height: 80dvh;
    min-height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-y: auto;
    border-radius: 12px;
}

.captcha-iframe {
    width: 370px;
    height: 630px;
    border: none;
    border-radius: 10px;
}

.puzzle-captcha-iframe {
    width: 550px;
    height: 700px;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 10px;
}

.similarity-captcha-iframe {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 10px;
}

.visual-challenge-container {
    min-width: 300px;
    max-width: 90vw;
    max-width: 90dvw;
    margin: 0 0 0 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    width: 100%;
    max-width: 470px;
    margin-bottom: 15px;
}

.button-container {
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 320px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
}

.dynamic-button {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.dynamic-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.solve-hint-text {
    font-size: 1.0rem;
    font-weight: bold;
    background: linear-gradient(90deg, mediumblue, royalblue 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: inherit;
    text-align: center;
}