
.read-me-text-memo {
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    border: none;
    border-radius: 4px;
    min-height: 12px; /* Minimum height */
    max-width: 100%;
    overflow-y: auto; /* Show scrollbar as needed */
    color: darkblue;
    font-weight: normal;
    font-size: 14px;
    /*text-align: left;*/
}

.read-me-text-memo:focus {
    outline: 0 solid blue; /* Example focus style */
}

.read-me-text-memo:empty::before {
    content: attr(aria-label);
    color: #aaa; /* Placeholder text color */
    pointer-events: none; /* Prevent the placeholder from being selectable */
}

.centered-vertical-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fancy-password-input {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    color: #333;
    margin-top: 15px;
}

.fancy-password-input:focus {
    border-color: #007bff; /* Highlight border on focus */
    box-shadow: 0 6px 10px rgba(0, 123, 255, 0.2);
}

.fancy-password-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.fancy-password-input-with-warning {
    width: 90%;
}

.fancy-password-input-with-warning::placeholder {
    color: orangered;
    font-style: italic;
}

.fancy-password-input:hover {
    border-color: #666; /* Slight hover effect */
}

