
.selected-piece {
    display: block; /* Removes any inline spacing */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes any padding */
    border: none; /* Removes any border */
    width: auto; /* Keeps the original width */
    height: auto; /* Keeps the original height */
    position: absolute;
    z-index: 1000;
}

.captcha-hint {
    background: rgba(0, 0, 0, 0.8);
    padding: 14px 18px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
    align-content: center;
    max-width: 90%;
    margin: 50px auto 0;

    color: white;
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    font-size: clamp(21px, 2.1vw, 32px);
    font-weight: 500;
    line-height: 1.4;

    word-wrap: break-word;
    overflow-wrap: break-word;

    transition: opacity 0.25s ease;
    opacity: 1;

    position: absolute;
    z-index: 999;
}

.captcha-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: none;
    position: absolute;
    z-index: 1000;
    margin-left: 150px;
}

.similarity-captcha-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: none;
    top: 50px;
    position: absolute;
    z-index: 1000;
}

.captcha-demo-video {
    margin-top: 50px;
    width: 420px;
    max-width: 60vw;
    max-width: 60dvw;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 4px solid darkslateblue;
    text-align: center;
    align-content: center;
}